[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/yigithanbalci/.dotfiles
[submodule "wallpaper/anime-wallpaper"]
	path = wallpaper/anime-wallpaper
	url = https://github.com/yigithanbalci/anime-wallpaper.git
[submodule "wallpaper/wallpapers"]
	path = wallpaper/wallpapers
	url = https://github.com/yigithanbalci/wallpapers.git
[submodule "install"]
	path = install
	url = https://github.com/yigithanbalci/install.git
